html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    overscroll-behavior: none;
    -webkit-user-select: none;
    user-select: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #090600;
    height: 100dvh;
}


/*--------------------------------------------*/
/*-------------CONTEO DE CARTAS---------------*/
/*--------------------------------------------*/

#card-counter {
    position: absolute;
    bottom: 3vmax;
    font-size: 3vh;
    font-weight: bold;
    color: white;
    font-family: "Comic Sans MS";
    z-index: 100;
    pointer-events: none;
}


/*--------------------------------------------*/
/*---------------RERROL BUTTON----------------*/
/*--------------------------------------------*/

#reroll-button {
    position: absolute;
    bottom: 3vmax;
    padding: 1vmax 2vmax;
    font-size: 2vmax;
    font-weight: bold;
    font-family: "Comic Sans MS";
    background-color: #000000;
    color: white;
    border: 0.2vmax solid white;
    border-radius: 0.8vmax;
    cursor: pointer;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out;
}

#reroll-button:hover {
    background-color: #555;
}

#reroll-button.visible {
    opacity: 1;
    pointer-events: auto;
}

input[type="radio"] {
    display: none !important;
}

.deck-container {
    position: relative;
    height: 50dvh;
    aspect-ratio: 150 / 220;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes tiltDeck {
    0% {
        transform: rotate(0deg);
    }

    30% {
        transform: rotate(-4deg);
    }

    70% {
        transform: rotate(4deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.tilt-effect {
    animation: tiltDeck 0.3s ease-in-out;
}

.click-area {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

#radio0:checked~.deck-container #area0,
#radio1:checked~.deck-container #area1,
#radio2:checked~.deck-container #area2,
#radio3:checked~.deck-container #area3,
#radio4:checked~.deck-container #area4,
#radio5:checked~.deck-container #area5,
#radio6:checked~.deck-container #area6,
#radio7:checked~.deck-container #area7,
#radio8:checked~.deck-container #area8,
#radio9:checked~.deck-container #area9 {
    display: block;
}



/*--------------------------------------------*/
/*------------------CARTAS--------------------*/
/*--------------------------------------------*/
.card,.card_back {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card {
    background-color: lightgray;
    transform: translate(5px, 5px) rotate(2deg);
    z-index: 1;
    transition: transform 0.5s ease-in-out, z-index 0s 0.25s, filter 0.5s;
    transform-style: preserve-3d;
}

.card_back {
    background-color: #f7a311;
    background-image: var(--img-cover);
    z-index: 2;
    transform: translate(5px, 5px) rotate(2deg);
}



#radio1:checked~.deck-container #card1,
#radio2:checked~.deck-container #card2,
#radio3:checked~.deck-container #card3,
#radio4:checked~.deck-container #card4,
#radio5:checked~.deck-container #card5,
#radio6:checked~.deck-container #card6,
#radio7:checked~.deck-container #card7,
#radio8:checked~.deck-container #card8,
#radio9:checked~.deck-container #card9 {
    transform: translate(-15px, -25px) rotate(-2deg);
    z-index: 3;
    animation: drawCard 0.6s ease-in-out forwards;
    transition: none;
}

@keyframes drawCard {
    0% {
        transform: translate(5px, 5px) rotate(2deg);
        z-index: 1;
    }

    50% {
        transform: translate(230px, -150px) rotate(25deg);
        z-index: 3;
    }

    100% {
        transform: translate(-15px, -25px) rotate(-2deg);
        z-index: 3;
    }
}

.card::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: transparent;
    pointer-events: none;
    z-index: 10;
    opacity: 0;
}

@keyframes rotateBeams {
    0% {
        transform: translate3d(-50%, -50%, -1px) rotate(0deg);
    }

    100% {
        transform: translate3d(-50%, -50%, -1px) rotate(360deg);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.card::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200vmax;
    height: 200vmax;
    background: repeating-conic-gradient(from 0deg,
            transparent 0deg 15deg,
            rgba(255, 215, 0, 0.5) 15deg 30deg);
    transform: translate3d(-50%, -50%, -1px) rotate(0deg);
    pointer-events: none;
    opacity: 0;
    z-index: -1;
    -webkit-mask-image: radial-gradient(circle, transparent 5%, rgb(0, 0, 0) 50%);
    mask-image: radial-gradient(circle, transparent 5%, black 50%);
    will-change: transform;
}

.tier-5 {
    overflow: visible !important;
}

#radio1:checked~.deck-container #card1.tier-5::before,
#radio2:checked~.deck-container #card2.tier-5::before,
#radio3:checked~.deck-container #card3.tier-5::before,
#radio4:checked~.deck-container #card4.tier-5::before,
#radio5:checked~.deck-container #card5.tier-5::before,
#radio6:checked~.deck-container #card6.tier-5::before,
#radio7:checked~.deck-container #card7.tier-5::before,
#radio8:checked~.deck-container #card8.tier-5::before,
#radio9:checked~.deck-container #card9.tier-5::before {
    animation: fadeIn 0.5s ease-in 0.2s forwards, rotateBeams 15s linear infinite;
}



/*--------------------------------------------*/
/*----------------CARD SUMMARY----------------*/
/*--------------------------------------------*/

#summary-container {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    top:-5px;
    gap: 2%;
    height: 75%;
    width: 85%;
    opacity: 0;
    /*background-color: #f7a3115d; */
    pointer-events: none;
    transition: opacity 0.5s ease-in-out 0.8s;
    z-index: 50;
}

#summary-container::before {
    content:"";
    position: fixed;
    top: 0;
    left:0;
    width: 100vw;
    height: 1000vh;
    background-color: rgba(0, 0, 0,0.85);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
    z-index: 90;
}

#summary-container:has(.zoomed)::before {
    opacity: 1;
}

#radio10:checked~#summary-container {
    opacity: 1;
    pointer-events: auto;
    
}



/*--------------------------------------------*/
/*----------------MINICARDS-------------------*/
/*--------------------------------------------*/
.mini-card {
    position: relative;
    height:15dvh;
    aspect-ratio: 150 / 220;
    background-size: cover;
    background-position: center;
    border-radius: 4px;
    background-color: lightgray;
    transition: transform 0.3s ease-in-out, z-index 0s;
    transform-style: preserve-3d;
    z-index: 1;
}

@keyframes mini-card-zoom {
    0% {
        transform: translate3d(0%, 0%, 0) rotate(0deg);
    }

    100% {
        transform: translate3d(-50%, -50%, 0) rotate(-0deg);
    }
}


.mini-card.zoomed {
    transform: translate3d(var(--move-x, 0), var(--move-y, 0), 0) scale(3);
    z-index: 100;
}


.mini-card.tier-5 {
    overflow: visible;
}


.mini-card.tier-5::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 25vmax;
    height: 25vmax;
    border-radius: 50%;
    background: repeating-conic-gradient(from 0deg,
            transparent 0deg 15deg,
            rgba(255, 217, 0, 0.943) 15deg 30deg);
    transform: translate3d(-50%, -50%, -1px) rotate(0deg);
    z-index: -1;

    -webkit-mask-image: radial-gradient(circle, transparent 5%, black 40%, transparent 70%);
    mask-image: radial-gradient(circle, transparent 5%, black 40%, transparent 70%);

    animation: rotateBeams 15s linear infinite;
    will-change: transform;
}




/*--------------------------------------------*/
/*-------------ESTADÍSTICAS (LATERAL)---------*/
/*--------------------------------------------*/

.card-stats-side {
    position: absolute;
    top: -20%;
    left: 50%; 
    
    transform: translate3d(-50%, 0%, 1px) scale(0.3333);
    transform-origin: top center; 
    
    display: flex;
    flex-direction: column;

    gap: 0.8vh;
    padding: 1vh;
    border-radius: 0.5vh;
    
    color: #ffffff;
    font-family: monospace;
    font-size: 2.2vh; 
    font-weight: bold;
    text-align: center;
    white-space: nowrap; 
    
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
}

/*--------------------------------------------*/
/*-------------TEXTO DE CARTAS (ABAJO)--------*/
/*--------------------------------------------*/

.card-desc-bottom {
    position: absolute;
    top: 105%; 
    left: 50%;
    
    transform: translate3d(-50%, 0, 1px) scale(0.3333); 
    transform-origin: top center;
    
    width: 350%; 
    padding: 1vh; 
    border-radius: 0.5vh;
    box-sizing: border-box;
    
    color: white;
    font-family: "Comic Sans MS", cursive;
    
    opacity: 0; 
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
    overflow-wrap: break-word; 
}

.ability-text {
    font-size: 2.3vh;
    color: #ffffff; 
    margin-bottom: 0.5vh;
    font-weight: bold;
    text-align: left;
}

.flavor-text {
    font-style: italic;
    font-size: 2vh;
    color: #cccccc;
    border-top: 0.1vh solid #555;
    padding-top: 0.5vh;
    text-align: center;
}
.mini-card.zoomed .card-stats-side,
.mini-card.zoomed .card-desc-bottom {
    opacity: 1;
}

/*--------------------------------------------*/
/*----------------VARIABLES-------------------*/
/*--------------------------------------------*/
:root {
    --card-height: 220px;
    --card-width: 150px;

    --img-cover: url('imgs/back.png');

    /*5 STAR*/
    --img-cons: url('imgs/cons.png');
    --img-chofis: url('imgs/chofis.png');
    --img-carlos: url('imgs/carlos.png');
    --img-coquin: url('imgs/coquin.png');
    --img-cesar: url('imgs/cesar.png');
    --img-horacio: url('imgs/horacio.png');
    --img-owen: url('imgs/owen.png');
    --img-joan: url('imgs/joan.png');
    --img-borange: url('imgs/borange.png');

    /*4 STAR*/
    --img-error-de-tipo: url('imgs/error de tipo.png');
    --img-inyeccion-sql: url('imgs/inyeccion sql.png');
    --img-out-of-bounds: url('imgs/out of bounds.png');
    --img-sytanx-error: url('imgs/syntax error.png');

    /*3 STAR*/
    --img-cplusplus: url('imgs/c++.png');
    --img-java: url('imgs/java.png');
    --img-python: url('imgs/python.png');
    --img-bash: url('imgs/bash.png');
}